@import 'variables';

/******** SIDEBAR PANNEL ********/
aside {
  margin-top: 30px;

  .aside-menu {
    position: relative;
    padding: 0;
    line-height: 1.2;
    z-index: 1;
    background: $grey-100;

    li {
      position: relative;
      text-transform: capitalize;
      color: $base-font-color;
      overflow: hidden;
      padding-bottom: 0;
      transition: padding-bottom .4s ease;
      z-index: 1;

      &.active > span {
        background: rgba($white, .5);
      }
      
      span {
        position: relative;
        display: block;
        padding: 12px 20px;
        background: $white;
        cursor: pointer;
        z-index: 1;
      }

      & + li {
        border-top: 1px solid $grey-100;
      }

      & > ul {
        z-index: -1;

        & > li {
          border-top: 1px solid $grey-200;

          & > span {
            background: $grey-100;
            color: $grey-400;
          }
        }
      }

      .el-modified {
        color: $red;
      }
    }

    .opened li {

    }

    &__inner{
      position: absolute;
      top: 40px; //change
      left: 0;
      right: 0;
    }
  }
}