@import 'variables';

/******** SORTING PANNEL ********/
.sorting-pannel {
  label {
    text-transform: uppercase;
    color: $grey-400;
    @extend .text1;
  }
}

.sorting-pannel__item {
  white-space: nowrap;

  &:nth-child(1) {
    padding-right: 24px;
    border-right: 1px solid $grey-100;
   }

  &:nth-last-child(1) {
    padding-left: 24px;
    border-left: 1px solid $grey-100;
  }
  
  input {
    min-width: 64px;
  }

  label {
    margin-right: 12px;
  }
}