@import 'normalize';
@import 'flexboxgrid';
@import 'variables';
@import '~@icon/font-awesome/font-awesome.css';
@import 'swiper';


/********** TYPOGRAPHY **********/
$font-incr: 3;
$h-font: $heading-font-size + $font-incr;
$headings: h1, h2, h3, h4, h5, h6;
@each $h in $headings {
  #{$h} {
    font-size: $h-font;
  }
  $h-font: $h-font - $font-incr;
}

.text1 {font-size: 11px;}
.text2 {font-size: 12px;}
.text3 {font-size: 13px;}
.text4 {font-size: 16px;}

.caption-1 {
  font-size: 42px;
  font-family: $minor-font1;
}
.caption-2 {
  font-size: 16px;
  font-family: $minor-font2;
}
.caption-3 {
  font-size: 14px;
  font-family: $minor-font2;
}


/******** GENERAL STYLES ********/
html {
  overflow: hidden;
  min-height: 100vh;
}

body {
  //font-family: $base-font-famify;
  font-size: $base-font-size;
  color: $base-font-color;
  background: $grey-200;
}

select {
  border: none;
  font-size: 11px;
  color: $base-font-color;
  text-transform: uppercase;
  letter-spacing: 1.1;
  font-family: $base-font;
}

input[type="text"],
input[type="number"] {
  background: $grey-100;
  border-radius: $radius2;
  border: 1px solid $grey-200;
  box-shadow: none;
  box-sizing: border-box;
  height: 32px;
  padding: 0 10px;
  line-height: 32px;
  color: $base-font-color;
  outline: none;

  &::placeholder, /* Chrome, Firefox, Opera, Safari 10.1+ */
  &:-ms-input-placeholder, /* Internet Explorer 10-11 */
  &::-ms-input-placeholder { /* Microsoft Edge */
    color: $grey-300;
    opacity: 1; /* Firefox */
  }
}


.checkbox-custom {
  position: relative;
  vertical-align: middle;

  input[type="checkbox"] {
    width: 20px;
    height: 20px;
    min-width: 20px;
    margin-right: 10px;
    opacity: 0;
    vertical-align: -5px;
  }

  span::before {
    content: '\f00c';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    line-height: 22px;
    background: $white;
    text-align: center;
    color: $white;
    border-radius: 50%;
    border: 1px solid $grey-300;
    @extend .fa;
  }

  input:checked + span::before {
    background: $green;
    color: $white;
    border-color: $green;
  }
}



/*********** HELPERS ***********/
.flexbox {
  display: flex;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.no-gutters {
  margin: 0;
  
  & > [class*="col-"] {
      padding-left: 0;
      padding-right: 0;
  }
  padding: 0;
}
.m-t-0 {
  margin-top: 0;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.block-bg {
  padding: 10px;
  background: white;
  border-radius: $radius1;
}

.fa {
  font-family: "font-awesome";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}


/*********** IMPORTS **********/

@import 'header';
@import 'slider';
@import 'sorting-pannel';

