$header-font-color: #222328;
$base-font-color: #3a405b;

$white: #fff;
$green: #00e2aa;
$blue: #2754eb;
$light-blue: #00deea;

$grey-100: #f0f2f7;
$grey-200: #e4e5e7;
$grey-300: #b9bed1;
$grey-400: #a1a8bd;
$grey-500: #1c1e23;

$base-font: 'Montserrat', sans-serif;
$minor-font1: 'Montserrat Black', sans-serif;
$minor-font2: 'Crimson Text', sans-serif;

$heading-font-size: 32px;
$base-font-size: 14px;
